body {
  font-family: Arial, sans-serif;
  background-color: #111111;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.socials {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  height: 40px;
  border: 1px solid grey;
  border-radius: 7px;
}

#msg {
  text-align: center;
  color: #eeeeee;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

p {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #0077b5; /* LinkedIn blue */
  font-weight: bold;
}

.linked a:hover {
  text-decoration: underline;
}
